.quote {
  background-color: #162b2b;
  color: white;
  border-radius: 6px;
  padding: 3rem;
  margin: 1rem auto;
  width: 90%;
  max-width: 40rem;
}

.quote p {
  font-size: 2.5rem;
}

.quote figcaption {
  font-style: italic;
  font-size: 1.5rem;
  text-align: right;
  color: #a1e0e0;
}

.divider {
  background-color: #080808;
  padding: 1px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -10px;
  width: 90%;
}

.submitted figcaption {
  color: #080808;
  font-size: 1rem;
  text-align: left;
  display: inline-block;
  font-weight: 300;
}

.backbtn {
  color: teal;
  cursor: pointer;
  margin-left: -10rem;
}

.backbtn:hover,
.backbtn:active {
  color: black;
}

@media screen and (max-width: 1080px) {
  .backbtn {
    margin-left: -2rem;
  }
  .quote {
    padding: 1rem;
    max-width: 40rem;
  }
  .quote p {
    font-size: 1.8rem;
  }
  .quote figcaption {
    font-size: 1.1rem;
  }
  .submitted figcaption {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 960px) {
  .backbtn {
    margin-left: 0rem;
  }
  .quote {
    padding: 1rem;
    max-width: 30rem;
  }
  .quote p {
    font-size: 1.8rem;
  }
  .quote figcaption {
    font-size: 1.1rem;
  }
  .divider{
    max-width: 89%;
  }
  .submitted figcaption {
    font-size: 0.8rem;
    margin-left: -1rem;
  }
}

