body {
    width:100%;
    height:auto;
}

.title h1 { 
  text-align: center;
  font-size: 4.5rem;
  color: #065454;
}

.description1 {
  background-color: teal;
  border: 3px solid black;
  border-radius: 4px;
  padding: 1rem;
  position: relative;
  left: -18rem;
  margin-bottom: 3rem;
}

.description1 h3 {
  text-align: center;
}

.description1 p {
 font-style: italic;
 line-height: 1.5;
 letter-spacing: 1px; 
 text-align: center;
}

.description1 ul {
  text-align: left;
  margin: 1rem;
  line-height: 1.5rem;
  margin-left: 4rem;
}

.description2 {
  background-color: teal;
  border: 3px solid black;
  border-radius: 4px;
  padding: 1rem;
  position: relative;
  right: -18rem;
  margin-bottom: 3rem;
}

.description2 h3 {
  text-align: center;
}

.description2 p {
  font-style: italic;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: center;
}

.webBtn {
  text-decoration: none;
  background-color: white;
  color: teal;
  border-radius: 4px;
  padding: 2px;
  border: 1px solid teal;
  cursor: pointer;
  
}

.webBtn:hover,
.webBtn:active {
  background-color: #c1f3f3;
  border-color: #11acac;
}

.button1 {
  text-decoration: none;
  background-color: teal;
  color: white;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  border: 1px solid teal;
  cursor: pointer;
  position: relative;
  top: 6rem;
  right: 12rem;
}

.button1:hover,
.button1:active {
  background-color: #11acac;
  border-color: #11acac;
}

.button2 {
  text-decoration: none;
  background-color: teal;
  color: white;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  border: 1px solid teal;
  cursor: pointer;
  position: relative;
  top: -30rem;
  left: 40rem;
}

.button2:hover,
.button2:active {
  background-color: #11acac;
  border-color: #11acac;
}

.footer {
  position: fixed;
  bottom: 0rem;
  right: 1rem;
  font-size: x-small;
}

@media screen and (max-width: 1024px) {
  body {
    max-width: 960px;
    margin: auto;
    display: block;
    justify-content: center;
    
  }
  .title h1 {
    font-size: 2.7rem;
  }
  .description1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    left: 0;
  }
  .description2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    right: 0;
  }
  .button1 {
    display: block;
    text-align: center;
    right: 0;
    top: 0;
  }
  .button2 {
    display: block;
    text-align: center;
    top: 0;
    left: 0;
  }  
  .footer {
    position: relative;
    text-align: right;
  }
}

@media screen and (max-width: 768px), (max-width: 480px) {
    body {
    max-width: 95%;
    margin: auto;
    display: block;
    justify-content: center;
    
  }
  .title h1 {
    font-size: 2.3rem;
  }
  .description1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    left: 0;
  }
  .description2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    right: 0;
  }
  .button1 {
    right: 0;
    top: 0;
  }
  .button2 {
    top: 0;
    left: 0;
  }  
}




